

.fullname {
    margin-left: 140px;
}
.club{
    height: 26px;
    margin-left: 28px;
    width: 170px;
}
.Satuday{
    margin-left: 76px;
}

.SundayMorning{
    margin-left: 180px;
}

.checkbox{
    margin-left: 175px;
}

.button{
    margin: 20px;
    width: 458px;
    height: 30px;
    background-color: greenyellow;
}